inner-scroll.scroll-y{
  padding: unset !important;
}
ion-slides{
  height: 192px !important;
  width: 360px !important;
}
.header-login{
  height: 30%;
  background: #ededed;
}
.button-login{
  width: 84%;
}
.button-md-secondary, .button-ios-secondary, .button-outline-md-secondary, .button-outline-ios-secondary{
  border-radius: 4px;
}
.item-checkbox-taim{
  padding-left: 28px;
  //color:#488aff;
  font-size: 14px;
}
.item.item-md .checkbox-md , .item.item-ios .checkbox-ios {
  position: static;
  display: block;
  margin: 9px 14px 9px 4px;
}
.item-checkbox-taim.item-block .item-inner{
  border-bottom: unset;
}
.item-md.item-block .item-inner, .item-ios.item-block .item-inner{
  border-bottom: unset;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner, .item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner{
  border-bottom-color:unset;
  box-shadow: none;
}
.item-login{
  border: 1.5px solid #b2b2b2;
  border-radius: 4px;
  margin-top: 8%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.item-md.item-login.item-block .item-inner, .item-ios.item-login.item-block .item-inner{
  background: #ededed;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md, .item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
  margin-left: 8%;
  margin-top: 0px;
  /* color: black; */
  margin-bottom: 8px;
  width: calc(100% - 8px);
}
.item-md.item-login, .item-ios.item-login{
  padding-left: 0px;
}
.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
  margin-left: 8%;
  margin-top: 0px;
  margin-bottom: 8px;
  width: calc(100% - 8px);
}