<ion-content>
  <div class="header-login">
    <ion-slides pager="true">
      <ion-slide>
        <img src="../../assets/imgs/lockers.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/lockers.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/lockers.jpg">
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-login">
            <ion-label color="primary" floating></ion-label>
            <ion-input placeholder="Teléfono 55 5545678945" type="number" [(ngModel)] = "email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="item-login">
            <ion-label color="primary" floating></ion-label>
            <ion-input type="password"  placeholder="NIP ___ ___ ___ ___ ___ ___" [(ngModel)] = "pass"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <!--<ion-col col-6>
            <ion-item class="item-checkbox-taim">
                <ion-label style="font-size: 14px;">Recuerdame</ion-label>
                <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
            </ion-item>
        </ion-col>-->
        <ion-col size="12">
          <ion-item style="text-align: center;">
            <ion-label style="font-size: 14px;">¿Olvidaste tu NIP?</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button class="button-login" color="secondary"  fill="solid" (click)="login()" >Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button class="button-login" color="secondary" fill="outline" (click)="sendRegister()">Crear cuenta</ion-button>
        </ion-col>
      </ion-row>
      <!--<ion-row>
          <ion-col style="text-align: center;">
              <button class="button-login" color="secondary" ion-button outline (click)="sendValidate()">Verifica tu cuenta</button>
          </ion-col>
      </ion-row>-->
    </ion-grid>
  </div>
</ion-content>