<!--<ion-header>
  <ion-navbar>
   <!-- <ion-searchbar
            class="searchhome"
            [(ngModel)]="searchTerm"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="filterItems()"
            (ionCancel)="onCancel($event)">
    </ion-searchbar>-->
<!--<ion-icon name="cash">100</ion-icon>-->
<!--</ion-navbar>
</ion-header>-->

<ion-content class="home-page">
  <!--<a href="https://api.whatsapp.com/send?phone=5541832742">Message</a>-->
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <p class="home-title">PAQUETES EN PUC</p>
        <p class="home-subtitle">3</p>
      </ion-col>
      <ion-col size="3">
        <p class="home-title">MEMBRESIA</p>
        <p class="home-subtitle">Premium</p>
      </ion-col>
      <ion-col size="3">
        <p class="home-title">SALDO</p>
        <p class="home-subtitle">100</p>
      </ion-col>
      <ion-col size="3">
        <img src="../../assets/imgs/logotaimingo.svg">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/imgs/ejemplo-banner-taimingo.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imgs/ejemplo-banner-taimingo.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imgs/ejemplo-banner-taimingo.jpg">
    </ion-slide>
  </ion-slides>
  <div *ngFor="let item of items">
    <ion-card class="card-taim" *ngIf="item.id_status != 1" (click)="sendDetail(item)">
      <ion-row>
        <ion-col class="col-first" size="4">
          <ion-icon class="icon-taim" name="ico-click"></ion-icon>
          <p class="p-home">{{item.status}}</p>
          <p class="p-date">{{item.date}}</p>
          <p class="p-hour">{{item.hour}}</p>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col>
              <!--<p>Paqueteria:</p>-->
              <div class="paq-number">
                <p class="p-id">{{item.id}}</p>
              </div>
              <p class="subdes"><span class="description">{{item.paq}}</span></p>
              <p class="subdes"># Guía:<span class="description">{{item.clave}}</span></p>
              <p class="subdes">PUC:<span class="description">{{item.puc}}</span></p>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col size="4">
              <p class="p-coust">TOTAL</p>
              <p class="p-des">${{item.price}}</p>
            </ion-col>
            <ion-col size="4">
              <p class="p-coust">DIAS EN PUC</p>
              <p class="p-des">10</p>
            </ion-col>
            <ion-col size="4">
              <p class="p-coust-state">ESTADO</p>
              <p class="p-des">Bueno</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="card-taim" *ngIf="item.id_status == 1" (click)="sendDetail(item)">
      <ion-row>
        <ion-col class="col-first-test" size="4">
          <ion-icon class="icon-taim" name="ico-click-gray"></ion-icon>
          <p class="p-home-test">{{item.status}}</p>
          <p class="p-date-test">{{item.date}}</p>
          <p class="p-hour-test">{{item.hour}}</p>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col>
              <!--<p>Paqueteria:</p>-->
              <div class="paq-number">
                <p class="p-id">{{item.id}}</p>
              </div>
              <p class="subdes">Remitente:<span class="description">{{item.rem}}</span></p>
              <p class="subdes">Clave:<span class="description">{{item.clave}}</span></p>
              <p class="subdes">PUC:<span class="description">{{item.puc}}</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <p class="p-coust">TOTAL</p>
              <p class="p-des">${{item.price}}</p>
            </ion-col>
            <ion-col size="8">
              <p class="p-coust">DIAS EN PUC</p>
              <p class="p-des">10</p>
            </ion-col>
            <ion-col size="4">
              <p class="p-coust">ESTADO</p>
              <p class="p-des">Bueno</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!--<ion-card *ngFor="let item of items">
    <ion-row>
      <ion-col col-9>
        <img  src="https://maps.googleapis.com/maps/api/staticmap?size=400x200&markers=19.3217928,-99.2900047&zoom=18&key=AIzaSyCztCuGrBdTescmdGtjZBFVvGTD9xps8eY"/>
      </ion-col>
      <ion-col col-3  class="status" style="text-align: center;">
        <p class="text-status">Status</p>
        <ion-icon name="briefcase"></ion-icon>
        <p class="text-status">Almacenado</p>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-7 style="text-align: left;" (click)="sendDetail(item)">
        <!--<p [hidden]="item.sender != 1">Remitente:Compañia</p>
        <p [hidden]="item.sender != 2">Remitente:Delivery</p>
        <p [hidden]="item.sender != 3">Remitente:Persona</p>
        <p>Clave:{{item.code_taimingo}}</p>
        <p>PUC: {{item.header.puc_id}}</p>-->
  <!-- <p>Remitente:{{item.rem}}</p>
   <p>Clave:{{item.clave}}</p>
   <p>PUC: {{item.puc}}</p>
 </ion-col>
 <ion-col col-3 style="text-align: center;" (click)="sendDetail()">
   <p>Dias en Puc</p>
   <p>8</p>
 </ion-col>
 <ion-col col-2 class="status" style="text-align: center;" (click)="presentPopover($event)">
     <ion-icon name="more"></ion-icon>
 </ion-col>
</ion-row>
</ion-card>-->
</ion-content>