.text-status{
  font-size: 1rem !important;
}
.status{
  margin-top: auto;
  margin-bottom: auto;
}
.searchhome{
  width: 75%;
  margin: unset;
}
.home-title{
  color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 9px;
}
.home-subtitle{
  color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
ion-slides {
  display: block;
  width: 100%;
  height: 20%;
}
.card-taim{
  border-radius: 10px;
}
.col-first{
  background: #5c31a8;
  color: white;
  text-align: center;
}
.col-first-test{
  //background: #5c31a8;
  color: rgba(0,0,0,0.5);
  text-align: center;
  border-left: 9px solid red;
}
.icon-taim{
  font-size: 2.2em;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.p-home{
  color:rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
.p-date{
  color:rgba(255, 255, 255, 0.7);
  float: left;
  font-size: 17px;
  padding-top: 20%;
  padding-left: 10%;
  font-weight: 500;
}
.p-hour{
  color: rgba(255, 255, 255, 0.7);
  float: left;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10%;
  margin-top: 0;
}
.p-home-test{
  color: rgba(0,0,0,0.5);
  font-weight: 500;
}
.p-date-test{
  color: rgba(0,0,0,0.5);
  float: left;
  font-size: 16px;
  padding-top: 20%;
  padding-left: 10%;
  font-weight: 500;
}
.p-hour-test{
  color: rgba(0,0,0,0.5);
  float: left;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10%;
}
.p-coust{
  color: rgba(0, 0, 0, 0.5);
  // float: left;
  font-size: 10px;
  margin-bottom: 0;
}
.p-coust-state{
  color: rgba(0, 0, 0, 0.5);
  margin-left: 35%;
  font-size: 10px;
  margin-bottom: 0;
}
.p-des{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.description{
  color: rgba(0, 0, 0, 0.5);
  //font-size: 12px;
  font-weight: 600;
}
.subdes{
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.label-taim{
  background: #5c31a8;
}
.p-id{
  float: right;
  margin-right: 5%;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  border: 1px solid;
  border-radius: 19px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
}
